<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>GPA Calculator</title>
</head>

<body ng-app="myApp">
    <h1 class="text-center">GPA Calculator</h1>
    <main class="container" ng-controller="myCtrl">
        <div class="accordion accordion-flush" id="accordionExample">
            <div class="accordion-item" ng-repeat="sem in sem_data">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#{{'collapse-' + ($index+1)}}" aria-controls="{{'collapse-' + ($index+1)}}">
                        Semester #{{$index + 1}}
                    </button>
                </h2>
                <div id="{{'collapse-' + ($index+1)}}" class="accordion-collapse collapse"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body d-flex flex-column flex-sm-row align-items-center justify-content-center">
                        <table class="table table-success table-striped table-hover table-bordered border-success">
                            <thead>
                                <th>Course Name</th>
                                <th>Course Code</th>
                                <th>Credits</th>
                                <th>Grade</th>
                            </thead>
                            <tbody>
                                <tr ng-repeat="subject in sem">
                                    <td>{{subject.name}}</td>
                                    <td>{{subject.course_code}}</td>
                                    <td>{{subject.credit}}</td>
                                    <td>
                                        <select ng-model="subject.grade" ng-change="calc()">
                                            <option ng-repeat="grade in grades" value="{{grade.value}}"
                                                ng-selected="subject.grade === grade.value">
                                                {{grade.name}}
                                            </option>
                                        </select>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <table id="result" class="m-5 table table-success table-striped table-hover table-bordered border-success">
                            <thead>
                                <tr>
                                    <th>Semester</th>
                                    <th>SGPA</th>
                                    <th>CGPA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{$index + 1}}</td>
                                    <td>{{result[$index].sgpa}}</td>
                                    <td>{{result[$index].cgpa}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-center m-5 p-5">
            <table id="result" class="table table-dark table-striped table-hover table-bordered border-light">
                <thead>
                    <th>Semester</th>
                    <th>SGPA</th>
                    <th>CGPA</th>
                </thead>
                <tbody>
                    <tr ng-repeat="sem in result">
                        <td>{{sem.sem}}</td>
                        <td>{{sem.sgpa}}</td>
                        <td>{{sem.cgpa}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>

    <footer class="bg bg-secondary text-light text-center p-5">
        <p class="fs-3 fw-medium">
            This site is Designed & Developed by
            <a class="text-info" href="https://github.com/Elanngo-Madheswaran" target="_blank">Elanngo Madheswaran</a>
        </p>
        <p>2024 Copyrights. All rights reserved.</p>
    </footer>

    <script src="script.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"></script>
</body>

</html>